.intro {
    .swiper-pagination {
        @apply absolute space-x-2 z-20;
      }
      
      .swiper-pagination-bullet {
        @apply w-3 h-3 rounded-full bg-blue-300 transition-colors duration-300;
      }
      
      .swiper-pagination-bullet-active {
        @apply bg-blue-500;
      }
}

.services {
    .swiper-pagination {
        @apply absolute left-[0px] flex space-x-2 z-20;
      }
      
      .swiper-pagination-bullet {
        @apply w-3 h-3 rounded-full bg-blue-300 transition-colors duration-300;
      }
      
      .swiper-pagination-bullet-active {
        @apply bg-blue-500;
      }
}


